.dashboard {
    margin-left: 30px;
    h2 {
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }

    .dashboard-header-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        margin-top: 20px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin: 0;
        }
    }

    .data-summary-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 10px; // Giảm margin-top từ 20px xuống 10px

        .data-summary {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            .data-card {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;

                .icon-container {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    margin-right: 20px;

                    .icon {
                        font-size: 36px;
                        color: #fff;
                    }
                }

                .info {
                    h3 {
                        margin: 0;
                        font-size: 18px;
                        color: #333;
                    }

                    p {
                        margin: 5px 0 0;
                        font-size: 24px;
                        font-weight: bold;
                        color: #333;
                    }
                }
            }

            .products .icon-container {
                background-color: #007bff;
            }

            .categories .icon-container {
                background-color: #28a745;
            }

            .orders .icon-container {
                background-color: #ffc107;
            }

            .users .icon-container {
                background-color: #dc3545;
            }
        }
    }
}